<h1>Kirim Pesan WhatsApp</h1>

      <div class="field">
        <label class="label">ID Group WhatsApp</label>
        <div class="control">
          <input class="input" type="text" id="phone" placeholder="nomor WhatsApp Product Owner/Reviewer">
        </div>
      </div>

      <div class="field">
        <label class="label">Pesan</label>
        <div class="control">
          <textarea class="textarea" id="solusi" placeholder="Tulis paparan aktifitas yang dimintai feedback"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolprogramtask">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="tombolcancelprogramtask">Batal</button>
        </div>
      </div>